*
{
     padding: 0;
     margin: 0;
     box-sizing: border-box;}
     a {font-size: large;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        font-variant: inherit;
        padding: 5px;}

        .Marquee {color: whitesmoke;font-size: larger;}

     .Kwae {font-size: 5em;color: whitesmoke;font-weight: bold;font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
    
    .Ek {font-size: 2em;color: whitesmoke;margin-left: 650px;font-weight: bold;font-style: italic;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
        
        h2 {color:green;
            font-size: 2.5em;
            font-weight: bolder;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-style: italic;
            font-stretch: wider;
        text-align: left;}



.menu-bar{
    background-image: url(images/SU.jpg);
    height: 36.3em;
width: auto;
text-align: right;
padding: 20px;}
.menu-bar ul{
        display: inline-flex;
        list-style: none;
        color: black;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;
}
.it, .menu-bar ul li:hover {
    background: yellow;
    border-radius: 3px;
   
}
.it {height: 70px;}




.menu-bar .fa{
    margin-right: 8px;
}
.sub-menu-1{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background: yellowgreen;
    margin-top: 15px;
    margin-left: 15px;
}
.menu-bar ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
#Y {text-align: center;}
.im {font-size: large;font-weight: bold;}
.menu-bar ul li:hover .sub-menu-1 li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1 li a:hover{
    color: yellow;
}
.fa-angle-right{
    float: right;
}
.sub-menu-2{
    display: none;
    
}
.hover-me:hover .sub-menu-2{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: yellowgreen;
}